.title {
  font-size: 23px;
  text-align: center;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.empty {
  padding: 40px 25px;
  text-align: center;
}

.empty img {
  margin-bottom: 10px;
  width: 120px;
}

.empty h3 {
  color: orangered;
  font-size: 25px;
  margin-bottom: 3px;
}

.empty p {
  color: #444;
  font-size: 16px;
}

@media screen and (max-width: 750px){
  .books {
    display: block;
  }
}